{{ include('_header.html.twig') }}
<div class="fos_user_user_show">
	<h2>{{ user.username }}</h2>
	<img class="profile-photo" src="{{ asset('img/photoprofile.jpg') }}" />
    <p><span class="label">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }} :</span> {{ user.username }}</p>
    <p><span class="label">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }} :</span> {{ user.email }}</p>
    <p><span class="label"> Date de naissance :</span> {{ user.birthDate|date('d/m/Y')}}</p>

</div>

{{ render(controller('UserBundle:Default:invite')) }}

    <a class="btn btn-danger" href="{{ path('user__default_destroyaccount') }}">Supprimer mon compte</a>
</div>

