<form method="POST">
    {{ form_errors(form.name) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name,{'attr': {'placeholder': 'Nom'}}) }}

    {{ form_label(form.description) }}
    {{ form_widget(form.description,{'attr': {'placeholder': 'Description'}}) }}
    {{ form_rest(form) }}
    <input type="submit"/>
</form>